body{
	background-color: #f6f6f6;
}

/* Navigation Section */

ul.topnav {
    background-color: #c5e0a1;
}

ul.topnav li a {
    color: #21251b;
}

ul.topnav li a:hover:not(.active) {
	background-color: #933232;
	color: #e3edea;
}

ul.topnav li a.active {
	background-color: #933232;
	color: #e3edea;
}

/* Header Section */

.header{
	background-color: #f6f6f6;
	color: #21251b;
}

/* Btns */

.action-btn{
	background-color: #933232;
	color: #e3edea;
}

.action-btn-small p{
	color: #933232;
}

.action-btn-small h4{
	color: #933232;
}

/* About Section */

.about {
	color: #21251b;
}

.about-heading {
	background-color: #c5e0a1;
	color: #21251b;
}

/* Screenshots Section */

.screenshots{
	background-color: #161616;
	color: #f6f6f6;
}

.screenshot-heading {
	background-color: #c5e0a1;
	color: #21251b;
}

.arrow-left, .arrow-right {
	color: #f6f6f6;
}

/* Footer Section */

.footer{
	color: #21251b;
	background-color: #c5e0a1;
}

.footer-copyright a{
	color: #933232;
}

.footer-sociallinks a{
	color: #933232;
}