body{
	background-color: #f4e8d9;
        color: #402c1b;
}


a{
	color: #e3edea;
}


/* Navigation Section */

ul.topnav {
    background-color: #4fa308;
}

/* Btns */

.primary-btn{
	background-color: #4fa308;
	color: #e3edea;
}

.secondary-btn{
	background-color: #70492e;
	color: #e3edea;
}

/* About Section */

.about{
	color: #402c1b;
}

.about a{
	color: #70492e;
}

.about-intro {
	background-color: #4fa308;
	color: #402c1b;
}

/* Screenshots Section */

.screenshots{
        border-top: solid #947634 7px;
}

/* Footer Section */

.footer{
	background-color: #4fa308;
}
