
/* Reset */

*{
	padding: 0;
	margin: 0;
	font-family: 'Zilla Slab', serif;
}

html{
	font-size: 62.5%;
}

a{
	text-decoration: none;
}

body{
	font-size: 1.8rem;
}

/* Columns */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class|='col']{
	position: relative;
	float: left;
	min-height: 1px;
	box-sizing: border-box;
}

i {
	cursor: pointer; 
	cursor: hand;
}

/* Navigation Section */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li [name="search"] {
	display: block;
	padding: 12px;
	text-decoration: none;
}

ul.topnav li img {
	display: block;
	padding: 0px 16px;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right,
	ul.topnav li {float: none;}
}


/* Header Section */

.header{
	padding: 5% 10%;
}

.top-header{
	font-size: 3.5rem;
	line-height: 1.4em;
	font-family: 'Audiowide', serif;
}

.top-subheader{
	line-height: 1.4em;
	font-size: 2.5rem;
}

.header-list{
	line-height: 1.4em;
	margin-top: 2em;
}

.header-btns{
	margin-top: 100px;
}

.header-img{
	width: 100%;
	height: 350px;
	background-image: url('../images/pc_with_test_run_small.png');
	background-repeat: no-repeat;
}

/* Random Section */

.random{
	height: 500px;
}

/* Btns */

.action-btn{
	display: inline-block;
	margin-right: 15px;
	padding: 0 25px;
	border-radius: 3px;
	line-height: 50px;
}

.action-btn-small p{
	font-size: 3rem;
	line-height: 1.4em;
}

.action-btn-small {
	line-height: 1.4em;
}

/* About Section */

.about {
	padding: 4% 0;
}

.about-heading {
	text-align: center;
	padding: 2% 0;
}

.about-intro {
	font-size: 3rem;
	line-height: 1em;
	text-align: center;
	padding: 2% 0;
	min-height: 10vh;
	margin-bottom: 4%;
}

.info {
	margin-bottom: 50px;
}

.about-table{
	table-layout: fixed;
	width: 98%;
	border-spacing: 80px 0px;
}

.about-info-panel {
	text-align: left;
}

.action-btn-small {
	text-align: center;
	padding: 10px;
}

	/* table into div */
.rTable {
	display: block;
	width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
	clear: both;
}
.rTableHead, .rTableFoot{
	font-weight: bold;
}
.rTableCell, .rTableHead {
	float: left;
	overflow: hidden;
	padding: 3px 1.8%;
	width: 21%;
}
.rTable:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Screenshots Section */

.screenshots{
	padding: 4% 0;
}

.screenshot {
	display: block;
	width: auto;
	height: 500px;
	margin: auto;
}

.screenshot-heading {
	text-align: center;
	padding: 2% 0;
}

.screenshot-title{
	text-align: center;
	padding: 1% 0;
	line-height: 1.4em;
}

.arrow-left {
	display: block;
	position: relative;
	left: 0;
	top: 250px;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

.arrow-right {
	display: block;
	position: relative;
	left: 0;
	top: 250px;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

/* Footer Section */

.footer{
	padding: 2% 5%;
}

.footer-logo{
	border-radius: 3px;
}

.footer-copyright{
	display: inline-block;
	padding-left: 15px;
	line-height: 1.4em;
	vertical-align: top;
	overflow-wrap: break-word;
}

.footer-copyright a{
	text-decoration: underline;
}

.footer-sociallinks{
	list-style-type: none;
	text-align: right;
}

.footer-sociallinks li{
	display: inline-block;
	margin-top: 32.5px;
	margin-left: 15px;
}

.footer-sociallinks a{
	font-size: 3.5rem;
}
