{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block meta %}
    {{ super() }}

    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if article.headline %}
        <meta name="description" content="{{ article.headline }}" >
    {% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags|truncate(140) }}" >
    {% endif %}

    {% for author in article.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" >
    {% endfor %}
{% endblock %}

{% block twitter_card %}
    {% for name,link in SOCIAL if name in ['twitter'] %}
        <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        <meta name="twitter:title" content="{{ article.title }}">
        {% if description %}
            <meta name="twitter:description" content="{{ description }}">
        {% elif article.headline %}
            <meta name="twitter:description" content="{{ article.headline }}">
        {% else %}
            <meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}
        <meta name="twitter:card" content="summary_large_image">
        {% if article.twitter_image %}
            <meta name="twitter:card" content="summary_large_image">
            {% if article.twitter_image|lower|truncate(4, True, '') == "http" %}
                <meta property="twitter:image" content="{{ article.twitter_image }}">
            {% else %}
                <meta property="twitter:image" content="{{ SITEURL }}/{{ article.twitter_image }}">
            {% endif %}
        {% else %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/twitter_card.jpg">
        {% endif %}

    {% endfor %}
{% endblock %}

{% block opengraph %}
        <meta property="og:site_name" content="{{ SITENAME }}">
        <meta property="og:type" content="article" />
        {% for author in article.authors %}
            <meta property="article:author" content="{{ SITEURL }}/{{ author.url }}" />
        {% endfor %}
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
        <meta property="og:title" content="{{ article.title }}" />
        <meta property="article:published_time" content="{{ article.date }}">
        {% if description %}
            <meta property="og:description" content="{{ description }}">
        {% elif article.headline %}
            <meta property="og:description" content="{{ article.headline }}">
        {% elif article.summary %}
            <meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}

        {% if article.og_image %}
            {% if article.og_image|lower|truncate(4, True, '') == "http" %}
                <meta property="og:image" content="{{ article.og_image }}">
            {% else %}
                <meta property="og:image" content="{{ SITEURL }}/{{ article.og_image }}">
            {% endif %}
        {% else %}
            <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/og_image.jpg">
        {% endif %}
{% endblock %}

{% block content %}
    <header class="col-12 header secondary">
        <h1 class="top-header">{{ article.title }}</h1>
        {% if article.headline %}
        <h2 class="top-subheader">{{ article.headline }}</h2>
        {% endif %}

        <p class="post-meta">
            Posted by
            {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
            on {{ article.locale_date }}
            {% if article.tags %}
                under
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </header>

    <article class="col-12 article secondary">
        {{ article.content }}
    </article>
{% endblock content %}
