{% extends "index.html" %}

{% block title %}Articles by {{ author }}{% endblock title %}

{% block opengraph %}
    {{ super() }}
    <meta property="og:title" content="{{ SITENAME }} - Articles by {{ author }}">
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="{{ author.name.split(' ')[0] }}">
    <meta property="profile:last_name" content="{{ author.name.split(' ')[1:]|join(' ') }}">
    <meta property="profile:username" content="{{ author.slug }}">
{% endblock opengraph %}
