<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ SITENAME }} - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %}{% endblock %}
        {% block twitter_card %}{% endblock %}
        {% block opengraph %}{% endblock %}
        <!-- MailChimp Newsletter Form Styles -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <!-- Custom Styles -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/style.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/color-palette-light.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/github.css" rel="stylesheet">
        <!-- Other Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fontawesome-free-5.6.3-web/css/all.min.css">
        <!-- Mobile nav script -->
        <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/mobile-nav.js"></script>
    </head>
    <body class="{% block page_body_class %}{% endblock %}" onload="setMobileNavBehaviour()">
        <!-- Nav -->
        <nav class="col-12 primary">
            <a href="/">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/kiwi_logo_h50.png" name="logo">
            </a>
            <button class="open-menu accent-unimportant"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
            <div id="mobile-mask">
                <button class="close-menu accent-unimportant"><i class="fa fa-times" aria-hidden="true"></i></button>
                <ul class="topnav">
                    <li><a href="https://public.tenant.kiwitcms.org/login/github/">GitHub Login</a></li>
                    <li><a href="http://kiwitcms.readthedocs.io">Documentation</a></li>
                    <li><a href="{{ SITEURL }}/community/">Community</a></li>
                    <li><a href="{{ SITEURL }}/support/">Support</a></li>
                    <li><a href="{{ SITEURL }}/blog/">Blog</a></li>
                    <li><a href="{{ SITEURL }}/team/">Team</a></li>
                    <li>
                        <form action="http://google.com/search" method="get">
                            <input name="sitesearch" value="http://kiwitcms.org" type="hidden">
                            <input class="search" name="q" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- content -->
        {% block content %}{% endblock %}
        <!-- Newsletter Form Section -->
        <section class="newsletter secondary col-12">
            <div id="mc_embed_signup">
                <a href="https://kiwitcms.us17.list-manage.com/subscribe/post?u=9b57a21155a3b7c655ae8f922&amp;id=c970a37581">Project news only, GDPR compliant. Subscribe here!</a>
            </div>
        </section>
        <!-- Footer -->
        <footer class="col-12 footer primary">
            <div class="col-10 footer-copyright">
                <p>Kiwi TCMS is sponsored by <a href="https://opencollective.com/kiwitcms">Open Source Collective</a>.</p>
                <p>Except where otherwise noted, content on this site is licensed under a
                    <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license.</a>
                </p>
                <p><a href="/legal/">Legal information</a></p>
            </div>
            <div class="col-2">
                <ul class="footer-sociallinks">
                    <li><a href="https://twitter.com/KiwiTCMS"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://github.com/kiwitcms/Kiwi"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </footer>
        {% if page and page.extra_javascript %}
            {% for script in page.extra_javascript.split(' ') %}
            <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}

        {% if GOOGLE_ANALYTICS %}
            <!-- Google analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', '{{ GOOGLE_ANALYTICS }}');
            </script>
        {% endif %}
    </body>
</html>
