<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ SITENAME }} - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %}{% endblock %}
        {% block twitter_card %}{% endblock %}
        {% block opengraph %}{% endblock %}
        <!-- Custom Styles -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/style.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/responsive-1440.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/responsive-1024.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/responsive-768.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/responsive-micro.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style/github.css" rel="stylesheet">

        {% if PLAUSIBLE_DOMAIN %}
        <script defer data-domain="{{ PLAUSIBLE_DOMAIN }}" src="https://plausible.io/js/script.js"></script>
        {% endif %}

        <script
            id="fsc-api"
            src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.8.5/fastspring-builder.min.js"
            type="text/javascript"
            data-storefront="mrsenko.onfastspring.com/popup-kiwitcms">
        </script>
    </head>
    <body class="{% block page_body_class %}{% endblock %}">

        <nav id="main-nav">
            <a href="/" style="display:inherit;">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/Kiwi-TCMS-logo-header.svg" alt="Kiwi TCMS Logo">
            </a>
            <i class="las la-bars" title="Open menu" onclick="toggle('hidden-menu', 'visible')" style="align-self: center;"></i>
            <ul class="hidden-menu" id="hidden-menu">
                <a href="/">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/Kiwi-TCMS-logo-header.svg" alt="Kiwi TCMS Logo">
                </a>
                <i class="las la-times" title="Close" onclick="toggle('hidden-menu', 'visible')"></i>
                {% include "main_menu_items.html" %}
            </ul>

            <ul>
                {% include "main_menu_items.html" %}
                <li>
                    <div class="drop-btn" id="nav-drop"
                        onmouseenter="toggle('nav-drop','drop-down');"
                        onmouseleave="toggle('nav-drop','drop-down');"
                    >
                        <div class="btn" icon>Get Started <i></i></div>
                        <!-- WARNING: this menu needs to be copied everywhere where we have this
                            button b/c Pelican doesn't support includes from HTML content files:
                            https://github.com/getpelican/pelican/issues/2783
                        -->
                        <div class="drop-cnt">
                            <a href="https://public.tenant.kiwitcms.org">Explore latest version</a>
                            <a href="/#subscriptions">Explore subscriptions</a>
                            <a href="https://kiwitcms.readthedocs.io/en/latest/installing_docker.html">Run as Docker container</a>
                            <a href="https://github.com/marketplace/kiwi-tcms/">Integration with GitHub</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- content -->
        {% block content %}{% endblock %}

        <footer>
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/Kiwi-TCMS-logo-footer.svg" alt="">
            <div class="legal">
                <p>Kiwi TCMS is collecting donations via <a href="https://opencollective.com/kiwitcms">Open Collective</a>.</p>
                <p>Except where otherwise noted, content on this site is licensed under a
                    <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license.</a>
                </p>
                <p>
                    <a href="{{ SITEURL }}/legal/">Legal</a> |
                    <a href="{{ SITEURL }}/privacy/">Privacy</a> |
                    <a href="{{ SITEURL }}/terms/">Terms</a></p>
            </div>
            <div class="footer-block fl-gh">
                <i></i>
                <h3>Contribute</h3>
                <a href="https://github.com/kiwitcms/Kiwi">/kiwitcms</a>
            </div>

            <div class="footer-block fl-tw">
                <i></i>
                <h3>Follow</h3>
                <a href="https://twitter.com/KiwiTCMS">@KiwiTCMS</a>
            </div>
            <div class="footer-block fl-yt">
                <i></i>
                <h3>Watch</h3>
                <a href="https://www.youtube.com/channel/UCC0KsZRFkF8nhPnES8G-KYw/videos">Kiwi TCMS</a>
            </div>
            <div class="footer-block fl-fb">
                <i></i>
                <h3>Join</h3>
                <a href="https://www.reddit.com/r/KiwiTCMS/">r/KiwiTCMS</a>
            </div>

            <div class="footer-block mail">
                <i></i>
                <h3>Join our newsletter.</h3>
                <p>Project news only, GDPR compliant.</p>
                <a href="https://kiwitcms.us17.list-manage.com/subscribe/post?u=9b57a21155a3b7c655ae8f922&amp;id=c970a37581" class="btn ghost-btn">Sign me up</a>
            </div>
        </footer>

        <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/toggle.js"></script>

        {% if page and page.extra_javascript %}
            {% for script in page.extra_javascript.split(' ') %}
            <script src="{{ script }}"></script>
            {% endfor %}
        {% endif %}

        {% if page and page.extra_css %}
            {% for stylesheet in page.extra_css.split(' ') %}
            <link rel="stylesheet" href="{{ stylesheet }}">
            {% endfor %}
        {% endif %}
    </body>
</html>
