{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<section id="blog-list">
    <h1>{% block headline %}Blog{% endblock %}</h1>

    {% for article in articles_page.object_list %}
    <article class="blog-list">
        <div class="header">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                <h1 class="top-header">{{ article.title }}</h1>
            </a>

            <p class="post-meta">Posted by
                {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                on {{ article.locale_date }}
            </p>
        </div>

        <div class="content">
            {{ article.content }}
        </div>
    </article>
    {% endfor %}

    {% include "pagination.html" %}
</section>
{% endblock content %}
