{% extends "base.html" %}

{% block content %}
    {% for article in articles_page.object_list %}
    <section class="col-12 secondary">
        <div class="header">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                <h1 class="top-header">{{ article.title }}</h1>
            </a>

            <p class="post-meta">Posted by
                {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                on {{ article.locale_date }}
            </p>
        </div>

        <div class="article">
            {{ article.content }}
        </div>
    </section>
    {% endfor %}

    {% include "pagination.html" %}
{% endblock content %}
