{% if DEFAULT_PAGINATION %}
<section id="pagination">
        {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="btn" icon="reversed"><i reversed></i> Newer Posts </a>
        {% endif %}
        <p>
            Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        </p>
        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="btn" icon>Older Posts <i></i></a>
        {% endif %}
</section>
{% endif %}
