/*COLOR PALETTE*/
.primary {
    background-color: #9ab451;
    color: #1c3d32;
}

.bottom-border {
    border-color: #9ab451;
}

.primary a, #pagination a {
    color: #1c3d32;
}

.olive-green,
nav.primary a:hover, #pagination a:hover, #mc_embed_signup .button:hover {
    background-color: #1c3d32;
    color: #f6f6f6;
}

nav.primary a.active, #pagination a.active {
    background-color: #1c3d32;
    color: #e3edea;
}

@media screen and (max-width: 991px) {
    #mobile-mask {
        background-color: #9ab451;
    }
}

.primary input {
    background-color: #f6f6f6;
}

.secondary, #mc_embed_signup input.email {
    background-color: #f6f6f6;
    color: #1c3d32;
}

.stripe-gray, #mc_embed_signup {
    background-color: #e6e6e6;
    color: #1c3d32;
}

.secondary img {
    background-color: #9e9e9e;
}

img.rounded {
    border-color: #1c3d32;
}

.accent-important, #mc_embed_signup .button {
    background-color: #9ab451;
    color: #212516;
}

.accent-important-icon {
    color: #9ab451;
}

.accent-medium {
    color: #1c3d32;
}

.accent-unimportant {
    background-color: #6e827b;
    color: #e3edea;
}
