/* Reset */

* {
    padding: 0;
    margin: 0;
    font-family: 'Zilla Slab', serif;
}

html { font-size: 62.5%; }
body {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

/*Font sizing*/

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}


a {
    text-decoration: none;
}

/* Columns */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3, .w25 {width: 25%;}
.col-4, .w33 {width: 33.33%;}
.col-5, .w41 {width: 41.66%;}
.col-6, .w50 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class|='col'] {
    position: relative;
    float: left;
    min-height: 1rem;
}

/* Navigation Section */

nav {
    padding: 1rem 0;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0, .3);
    z-index: 1;
}

ul.topnav { float: right;}

ul.topnav, #pagination ul {
    list-style-type: none;
}

ul.topnav li, #pagination ul li {float: left;}
ul.topnav li a, #pagination ul li, #pagination ul li a {
    display: block;
    text-align: center;
    padding: 0 1.6rem;
    line-height: 5rem;
    border-radius: 0.3rem;
}

/* override some of the style inherited above */
#pagination ul li a { padding: 0; }
#pagination ul li {
    padding: 0;
    margin-right: 1.6rem;
}

img {
    margin-left: 1.5rem;
    float: left;
}

.margin0 { margin: 0; }
.shadow { box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0, .3); }
.bottom-border {
    margin-bottom: 1.5rem;
    border-bottom: dotted 0.1rem;
}

ul.topnav li [name="q"] {
    display: block;
    height: 5rem;
    margin: 0 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.3rem;
    border: 0;
}

nav {
    overflow: hidden;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0, .3);
    z-index: 1;
}

nav button {
    display: none;
}


/* Header Section */

.header {
    padding: 5% 0;
    padding-left: 5%;
    box-sizing: border-box;
}

.top-header {
    line-height: 1.4em;
    font-family: 'Audiowide', serif;
}

.top-subheader {
    line-height: 1.4em;
}

.header-list, .check-list {
    line-height: 2rem;
    margin-top: 2em;
    padding-left: 1.5rem;
}

.check-list {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}
.check-list li {
    margin-bottom: 2rem;
}

.header-btns {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-img {
    width: 100%;
    height: 350px;
    background-image: url('../images/pc_with_test_run_small.png');
    background-repeat: no-repeat;
}

.post-meta {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-style: italic;
}

.article, .comments, #pagination {
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

/* Article styles */
.article h1, .community h1 { margin-bottom: 3rem; }
.article h2 { margin-bottom: 2.75rem; }
.article h3 { margin-bottom: 2.5rem; }
.article h4 { margin-bottom: 2.25rem; }
.article p, .community p { margin-bottom: 2rem; }
.article ul, .community ul {
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

blockquote {
    border-left: solid 0.4rem rgba(144, 144, 144, 0.25);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    border-radius: 0.4rem;
    border: solid 0.1rem rgba(144, 144, 144, 0.25);
    font-family: "Courier New", monospace;
    padding: 0 0.25em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin-bottom: 1em;
    overflow-x: auto;
}

pre code {
    display: block;
    padding: 1em 1.5em;
    overflow-x: auto;
}


/* Btns */

.action-btn {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0 2.5rem;
    border-radius: 0.3rem;
    line-height: 5rem;
    text-align: center;
    white-space: nowrap;
}

.action-btn-small {
    text-align: center;
    padding: 1rem;
}

/* About Section */

.about-intro {
    font-style: italic;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 2% 10%;
    margin-bottom: 4%;
}

.info {
    margin-bottom: 5rem;
}

.about-panel-title {
    font-weight: bold;
    padding-bottom: 0.3rem;
    padding-left: 1.8rem;
}

.about-panel-details {
    padding-top: 0.3rem;
    padding-bottom: 1.8rem;
    padding-left: 1.8rem;
}

/* Screenshots Section */

.screenshot-title {
    padding: 2% 0;
    text-align: center;
    line-height: 1.4em;
}

.screenshot-title h3 {
    font-size: 3rem;
}

.screenshot-title p {
    margin-top: 1.5rem;
}

.img {
    position: absolute;
    display: block;
    width: 922px;
    height: 450px;
    max-height: 450px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0, .3);
    background-size: cover;
}

.shown {
    left: 0;
    transition: left .6s ease, transform .6s ease;
}

.hidden {
    left: 105%;
}

.img-wrapper {
    position: relative;
    width: 922px;
    height: 450px;
    max-height: 450px;
    padding: 3rem 2rem;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}

.img-index {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;
}

.arrow-left {
    display: block;
    position: relative;
    left: 0;
    top: 25rem;
    width: 100%;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
}


.arrow-right {
    display: block;
    position: relative;
    left: 0;
    top: 25rem;
    width: 100%;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
}

/* Footer Section */

.footer {
    padding: 2% 0;
    display: inline-block;
    font-size: 1.2rem;
}

.footer-logo {
    float: right;
    margin-right: 1rem;
    vertical-align: middle;
    overflow-wrap: break-word;
}

.footer-copyright {
    line-height: 1.8em;
    vertical-align: middle;
    overflow-wrap: break-word;
}

.footer-copyright a {
    text-decoration: underline;
}

.footer-sociallinks {
    list-style-type: none;
    text-align: right;
}

.footer-sociallinks li {
    display: inline-block;
    margin-right: 1.5rem;
}

.footer-sociallinks a {
    font-size: 3.5rem;
}

/* Features Page */

.horizontally-stacked-list {
    display: flex;
    float: left;
}

.left-floating {
    float: left;
}

.testplan {
    float: right;
    clear: right;
    margin-bottom: 5rem;
}

.mark-and-status-bugs {
    float: left;
    margin-bottom: 5rem;
}

.call-to-action-field {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.about-panel {
    padding-top: 2rem;
}

/* overrides for features page */
.features .about-panel-title, .features .about-panel-details {
    padding-left: 0;
}

/* Community Page */

.community {
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.community div.col-12 {
    padding-top: 6%;
    line-height: 1.4em;
 }

@media screen and (max-width: 1360px){
    /* navigation section */
    ul.topnav li [name="q"] {
        width: 0;
        display: none;
    }

    /* Header section */
    .header-img {
        background-size: contain;
    }

    /* Screenshots section */
    .screenshots .col-2 {
        display: none;
        width: 0;
    }

    .screenshots .col-8 {
        width: 100%;
    }

    /* Features Page */
    .features .col-2 {
        display: none;
        width: 0;
    }

    .features .col-8 {
        width: 100%;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        box-sizing: border-box;
    }

    .features .w25 {
        min-width: 100%;
        max-width: 100%;
        float: none;
    }

    .features .testplan {
        float: left;
    }

    .features .horizontally-stacked-list {
        padding-right: 1.8rem;
    }
}

@media screen and (max-width: 991px){
    /* For tablets: */

    /*navigation section*/
    nav img {
        max-width: 70%;
    }

    ul.topnav { margin-top: 7rem; }

    ul.topnav li {
        width: 100%;
        display: block;
    }

    ul.topnav li a { text-align: left; }

    nav .open-menu {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border-radius: 0.3rem;
        border: 0;
        cursor: pointer;
        margin-right: 1.5rem;
        float: right;
    }

    #mobile-mask {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: .5s top ease;
        overflow-y: scroll;
    }

    nav .close-menu {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: block;
        width: 5rem;
        height: 5rem;
        border-radius: 0.3rem;
        border: 0;
        cursor: pointer;
    }

    ul.topnav ul {
        margin-top: 7rem;
    }

    ul.topnav li {
        display: block;
        margin-bottom: 1.5rem;
    }

    ul.topnav ul a {
        display: block;
        text-align: center;
        line-height: 5rem;
        border-radius: 0.3rem;
    }

    /* Header section */
    /* these two together will cause the laptop image to be displayed
       centered vertically on smaller screens which looks a bit better
       compared to the default top alignment
    */
    .header .col-12 {
        display: flex;
        align-items: flex-end;
    }
    .header .header-img {
        background-position: center;
    }

    /* about section */
    .about-intro {
        padding-left:  1.8rem;
        padding-right: 1.8rem;
        text-align: left;
    }
    .about .col-3 {
        width: 49%;
    }
    .about-panel-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .col-3 .fa-5x {
        font-size: 15rem;
    }
    .col-3 h3 {
        font-size: 3.5rem;
        line-height: 4rem;
    }


    /* Screenshots section */
    .screenshots .col-2, .img-index {
        display: none;
        width: 0;
    }

    .screenshots .img {
        max-width: 100%;
        /*
            Keeps the image's proportions,
            because its width is 100%.
        */
        height: 49vw;
    }

    .screenshots .img-wrapper {
        padding: 0;
        max-width: 100%;
        height: 49vw;
        box-sizing: border-box;
    }

    /* footer section */
    #mrsenko_logo {
        display: none;
        width: 0;
    }
    .footer .col-9 {
        width: 100%;
        box-sizing: border-box;
        clear: both;
        font-size: 1.5rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .footer .col-2 {
        width: 100%;
        box-sizing: border-box;
    }
    .footer-sociallinks {
        padding-left: 1.8rem;
        text-align: left;
    }

    /* features page */
    .features img {
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    /*
        For mobile phones - only override styles which
        are different than the tablet section! No duplication!
    */

    /*header section*/
    .header .col-7 {
        display: none;
    }

    .header .col-5 {
        width: 100%;
    }

    /*about section*/
    .about .col-3 {
        min-width: 100%;
    }

    .about-panel-details {
        padding-right: 1.8rem;
    }

    /* screenshot section and features page */
    .screenshots .screenshot-title, .features .screenshot-title {
        text-align: left;
        padding-left: 1.8rem;
        box-sizing: border-box;
    }

    /* features page */
    .features .w50 {
        width: 100%;
    }

    .features .col-8 .horizontally-stacked-list {
        display: inline;
    }

    .features .demo-btn {
        margin-bottom: 1.8rem;
    }
}
